gitlab:
  token: "${GITLAB_PRIVATE_TOKEN:-YOUR_GITLAB_PRIVATE_ACCESS_TOKEN}" # GitLab Personal Access Token
  username: "${GITLAB_USERNAME:-oauth2}" # GitLab username (often 'oauth2' for PAT authentication)
  base_clone_dir: "${GITLAB_CLONE_DIR:-./gitlab_clones}" # Base directory where projects will be cloned
  repositories:
    - "gitlab.example.com/group/project.git" # Git repository URL (with or without https://)
    # Add more repositories as needed:
